[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
"django-bootstrap3" = "*"
django-environ = "*"
django-filter = "*"
gunicorn = "*"
"psycopg2" = "*"
pytz = "*"
raven = "*"
whitenoise = "*"
Django = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
